<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
</head>

<body>
<h1>Welcome to...</h1>
<img th:src="@{/images/TacoCloud.png}"/>

<form  th:object="${user}" method="post">
    <div th:each="option : ${options}">
        <input type="checkbox" th:field="*{checkedOptions}" th:value="${option}">
        <label th:text="${option}"></label>
    </div>
    <button type="submit">提交</button>
</form>
</body>
</html>